:root{
    --branco-principal:#F62EC2;
    --cinza-secundário: #FC1CBD;
    --botão-azul: #1797F4; 
    --cor-do-fundo: #4EBFE9;
}

body{
    background-color: var(--cor-do-fundo);
    color: var(--branco-principal);
}
* {
    margin: 0;
    padding: 0;
}